/* Här behövde jag ändra border radius i efterhand pga när jag bytte avatarbilden från temat blev den automatisk fyrkantig */
.masthead-avatar {
    border-radius: 50%;
}

/* All huvudtext i en font*/
h1,
h2,
h3,
h4,
.nav-item,
.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

/* All brödtext i en font*/
p,
li {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.img-rounded {
    border-radius: 50%;

}


/*Färg hover knapp*/
.btn-outline-light:hover {
    color: #ffffff;
    background-color: #7a8566;
    border-color: #f8f9fa;
}


a {
    color: #212529;
}

/*För att texten i listan ska hamna under rubriken*/
ul.margin {
    padding: 0;
}